<div>
  <h1>Tickets</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |ticket|}}
      <tr class='ticket'>
        <td>{{ticket.name}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.owner}}</td>
        <td>{{ticket.curstatus}}</td>
        <td>
          {{#link-to 'tickets.edit' ticket.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteTicket' ticket}}>Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#link-to 'tickets.new'}}<a href="" class="btn btn-info" role="button">Create Ticket</a>{{/link-to}}
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}

